*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
#max{
	width:395px;
	background:#ccc;
	padding: 20px 10px;
	border-radius: 10px;
	overflow: hidden;
	border: 1px solid #000;
	margin: 0px auto;
}
#box{
	width:391px;
	height: 650px;
	border: 1px solid #000;
	border-radius: 5px;
	position: relative;
	background-color:rgba(242,242,242,1) ;
	position: relative;
}
